
			<div class="col-md-12 col-xs-12 text-center footer animated fadeInUp">
				<hr>
				Powered by <b>AVNBot</b>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-2.2.4.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<?php echo $this->bottom; ?>
	</body>
</html>