		<div class="container">
			<div class="col-md-12 text-center">
				<?php echo $this->loginform; ?>
				<div class="login">
					<h3 class="news-title"><?php echo $this->lang[701]; ?> <span id="seconds-left"><?php echo $this->config['update_cache']; ?></span> <?php echo $this->lang[702]; ?></h3>
					<div class="circle">
						<strong></strong>
					</div>
				</div>
				<div class="login-cover"></div>
			</div>