.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a, a:hover, a:active, a:focus {
   outline: 0;
}

th {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
												not supported by any browser */
}

.anim-1 {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
}

.anim-2 {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
}

.footer {
	margin-bottom: 25px;
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
}

.hidden {
	display: none !important;
}

/* STRONA GŁÓWNA */
.news {

}
.news-2 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
}
.news-3 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
}
.news-hr {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	-ms-animation-delay: 1s;
}
.news-header {
	margin-top: -15px;
	padding-top: 1em;
	padding-bottom: 1em;
}
.news-header hr {
	display: block;
    width: 100px;
    margin: 10px auto;
}
.news-title {
	margin-bottom: 5px;
	text-transform: uppercase;
}
.news-span {
	opacity: 0.7;
	font-size: 12px;
	font-weight: 300;
}

.news-content {
	text-align: justify;
	margin: 0 4em;
	padding-bottom: 1em;
}
.news-footer {
	padding: 0;
}

.server-status h4, .server-status h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}




/* PROFIL */
.profil .img-responsive {
    margin: 0 auto;
}
.profil .warn-text {
	margin-bottom: 0px;
}
.profil .warn-progress {
	height: 7px;
	border-radius: 0px;
}
.profil .nick {
	font-size: 30px;
	margin-bottom: 0px;
	margin-left: -15px;
}
.profil-span {
	opacity: 0.7;
	font-size: 12px;
	font-weight: 300;
	margin-left: -15px;
}

.profil-data-container {
	padding-left: 0px;
	padding-right: 0px;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	margin-bottom: 20px;
}

.profil-data .list-group-item {
	padding-top: 2px;
	padding-bottom: 2px;
}

.profil .button-akcje {
	vertical-align: text-top;
}


.label {
	vertical-align: middle;
}

/* LOGIN */
.login {
	margin: 0 auto;
	position: relative;
	z-index: 1002;
	color: white;
	display: none;
}

.circle {
    width: 150px;
    margin: 60px 6px 20px;
    position: relative;
    text-align: center;
    line-height: 1.2;
	display: none;
}

.circle strong {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.login-cover{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.95);
	z-index: 1001;
	width: 100%;
	height: 100%;
	display: none;
}

.hi {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	-ms-animation-duration: 3s;
}

.hi-nick {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	-ms-animation-duration: 3s;
}
.hi-first {
	-webkit-animation-delay: 3.3s;
	-moz-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	-ms-animation-delay: 3.3s;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	-ms-animation-duration: 3s;
}
.hi-second {
	-webkit-animation-delay: 5.3s;
	-moz-animation-delay: 5.3s;
	-o-animation-delay: 5.3s;
	-ms-animation-delay: 5.3s;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	-ms-animation-duration: 3s;
}
.hi-form {
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	-o-animation-delay: 7s;
	-ms-animation-delay: 7s;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	-ms-animation-duration: 3s;
	margin-bottom: 90px;
}