/**
 * TSStatus: Teamspeak 3 viewer for php5
 * @author Sebastien Gerard <seb@sebastien.me>
 * @see http://tsstatus.sebastien.me/
 * @version 2013-08-31
 **/

.tsstatus, .tsstatuserror{
	width: 100%;
}

.tsstatus label{
	border-bottom: 1px solid #aaaaaa;
}

.tsstatusItem a{
	color: inherit;
	font-weight: lighter;
}

.tsstatusItem a:hover{
	font-weight: normal;
}

.tsstatuserror{
	color: #ff0000;
}

.tsstatus, .tsstatus *{
	vertical-align: middle;
	margin: 0;
	padding: 0px;
}

.tsstatus{
	position: relative;
	overflow: hidden;
	padding: 5px;
}

.tsstatus label{
	display: block;
	padding: 2px 0;
}

.tsstatusItem{
	margin-left: 16px;
	position: relative;
	white-space:nowrap;
}

.tsstatusItem a{
	display: block;
	text-decoration: none;
}

.tsstatusItem img{
	border: 0;
	vertical-align: middle;
	margin-right: 4px;
}

.tsstatusFlags{
	position: absolute;
	right: 0;
	top: 0;
}

.tsstatusServer{
	margin-left: 0;
}

.tsstatusItem font b{
	color: #800000;
}

.cspacer {
	text-align: center;
}
.spacer, .lspacer {
	text-align: left;
}
.rspacer {
	text-align: right;
}

.fadeTree {
	visibility: hidden;
}