.avn-navbar {
	padding: 15px 40px 15px 40px;
}

.avn-darker-muted {
	background-color: #f3f3f3;
}

.uk-notification-message {
	border-radius: 2px;
	width: auto;
	clear: both;
	margin-top: 10px;
	position: relative;
	max-width: 100%;
	height: auto;
	min-height: 48px;
	line-height: 1.5em;
	word-break: break-all;
	background-color: #323232;
	padding: 10px 25px;
	font-size: 1.1rem;
	font-weight: 300;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.uk-notification-message:hover .uk-notification-close {
    display: none;
}

.avnSlimList.uk-table td, .avnSlimList.uk-table th {
    padding: 0px 10px;
    vertical-align: baseline;
}